NEXT_PUBLIC_SUPABASE_URL=https://acwuocuxceuhoasuvxkp.supabase.co/rest/v1/
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFjd3VvY3V4Y2V1aG9hc3V2eGtwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE3NzQ5MzYsImV4cCI6MjA5NzM1MDkzNn0.t9ML_ZaiYpW1RJPHQey8wofNshgu1sXwzOK8Hz5t_4U
